@import '../../assets/styles/settings';

.header {
  
  align-items: center;
  background-color: $color-bg;
  border: 1px solid $color-border;
  display: flex;
  height: $headerHeight;
  justify-content: center;
  width: 100%;

  .logo {
    height: auto;
    width: auto;
  }
  
}