$color: (
  'white': #fff, 
  'black': #000,
  'ebb': #f4f2f0,
  'swissCoffee': #e4e1df,
  'chicago': #5b5855,
  'tapa': #7d7a77,
  'mandy': #e85657,
  'froly': #f77274,
  'chestnutRose': #d26769,
  'mantis': #6fcf67,
  'orange': '#f39d56'
);

@function getColor($key) {
  @return map-get($color, $key);
}

$color-bg: getColor('white');
$color-border: getColor('ebb');
$color-title: getColor('chicago');
$color-text: getColor('tapa');
$color-description: getColor('chicago');
$color-textDiff: getColor('mandy');
$color-icons: getColor('mantis');
$color-overlay: rgba(getColor('black'), 0.7);
$color-success: getColor('mantis'); 
$color-warning: getColor('orange'); 